<configuration scan="true" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<logger name="com.ardor3d.util.resource.ResourceLocatorTool">
		<level value="FATAL"/>
	</logger>

	<logger name="org.apache.cxf">
		<level value="warn"/>
	</logger>

	<logger name="se.spaced">
		<level value="DEBUG"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>