<configuration scan="true" scanPeriod="30 seconds">

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/bender/bender.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>bender.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<logger name="de.nava.informa">
		<level value="error"/>
	</logger>

	<root level="DEBUG">
		<appender-ref ref="FILE"/>
	</root>


</configuration>
